<section class="gallery-section">
  <div class="container">
    <form class="send" id="search-form">
      <input
        class="send-input"
        type="text"
        placeholder="Search here ..."
        autocomplete="off"
        required
      />
      <button class="send-btn" type="submit">Send</button>
    </form>

    <div class="gallery">
      <!-- Карточки изображений -->
    </div>
    <div class="target-element"></div>
    <div class="load">
      <button type="button" class="load-more">Load more</button>
    </div>
  </div>
</section>
